body{
    margin:0;
    
   text-align: center;
   
}

.top-container{
    background-color: #EED6C4;
    position: relative;
    padding-top: 100px;

}

.welcome{
    position: relative;
    padding-bottom: 10px;
    width: 15%;
    bottom: 50px;

}

.name{
   font-family: 'Courier New', Courier, monospace;
   position: relative;
   bottom: 60px;
   
}
.welcome-to-my-site{
    position: relative;
    bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
}


.profile{
    background-color: #FEF1E6;
}

.christian{
    position: relative;
    width: 15%;
    margin-bottom: 100px;
    margin-left: 100px;
    float: left;
    margin: 5%;
    
   
}

.about-me{
   position: relative;
   top: 100px;
   padding-right: 300px;

}
    
.description{
    position: relative;
    width: 50%;
    text-align: left;
    line-height: 2;
    margin: auto;
    margin-top: 150px;
    
}.middle-container{
    margin: auto;
  
}

.chrus-icon{
    position: relative;
    bottom: 45px;
    width: 15%;
    margin-top: 100px;
    margin-right: 100px;
    float: right; 
}

.my-skills{
    position: relative;
    top: 10px;
}

.chef-icon{
    width: 25%;
    position: relative;
    right: 200px;
    bottom: 200px;
}

.game{
    position: relative;
    bottom: 500px;
    right: 150px;
    width: 10%;
    float: right; 
}

.video-game-1{
    position: relative;
    bottom: 150px;
    text-align: left;
   
}

.skill-row{
    width: 50%;
    line-height: 2;
    margin: auto;
    text-align: left;
}

.reading{
    position: relative;
    bottom: 100px;
    text-align: left;
   
}

.book{
    position: relative;
    width: 10%;
    bottom: 250px;
    right: 400px;
}



.contact-me{
    background-color: #FEF1E6;

}

.phone-icon{
    position: relative;
    width: 5%;
}

.bottom-container{
    background-color: #EED6C4;
    padding: 10px;
    padding-bottom: 20px;
}

